body {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif, Arial, sans-serif;
  -webkit-font-smoothing: auto;
  -mox-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

nav a {
  display: flex;
  color: midnightblue;
  font-weight: 700;
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  background-color:  beige;
  padding: 10px 20px;
  margin: 20px;
}

.hero-textbox h1 {
  width: 350px;
  border-radius: 50px 50px 50px 50px;
}

.site-header {
  background: #333;
  color: brown;
  padding: 10px 20px;
}
.site-header h4 {
  text-align: center;
}

.site-header h1 {
  border-radius: 40px 10px 40px 10px;
  letter-spacing: 6px;
}

.main-nav ul {
  border-radius: 10px 10px 10px 10px;
  background-color: yellow;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.content {
  padding: 30px 25px 30px 50px;
}

#section1 {
  font-family: 'Times New Roman', Times, serif;
  width: 640px;
  height: 300px;
  background-color: white;
  border: 15px solid gray;
  color: black;
  padding-left: 30px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: sienna;
}

.container div {
  border-radius: 10px 10px 10px 10px;
  background-color: red;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
}

.site-footer {
  background: #333;
  color: lightblue;
  padding: 10px 20px;
}

@media (max-width: 600px) {
  .main-nav ul {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .container {
    flex-direction: column
  }
}